
.chatbot-container {
    overflow: auto;
    height: 60vb; /* Define una altura fija, puedes cambiar este valor a tu necesidad */
}

.bg-custom {
    background-color: #01204C;
}

.bg-custom2 {
    background-color: #6b5a70;
}
