body {
    margin: 0;
    font-family: 'Tilt Warp', cursive;
}

body i{
    color: #C613D4;
}

.title {
    /* font-size: 55px; */
    letter-spacing: -.1vw;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #000 20%, #C613D4);
    -webkit-background-clip: text;
}

h1{
    letter-spacing: -.1vw;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #000 20%, #C613D4);
    -webkit-background-clip: text;
}

h2 {
    letter-spacing: -.1vw;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #000 20%, #C613D4);
    -webkit-background-clip: text;
}

.vertical-line {
    border-left: 1px solid black;
    height: 500px;
}

.tamaño-numeros {
    font-size: 10vb;
}

.hr-vertical-line {
    height: 100%;
}

