body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background-image: url(../img/positivenation6.gif);
   
    background-size: cover;
}

header #nombreBienvenida {
    padding: 10px;
    margin: 10px;
    background: rgb(86 125 181 / 58%);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(50px);
    border-radius: 30px;
}

header #nombreBienvenida h1 {
    color: white;
    padding: 10px;
    font-size: 15px;
}

header #tituloPantalla {
    padding: 10px;
    margin: 10px;
    background: rgb(86 125 181 / 58%);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(50px);
    border-radius: 30px;
}

header #tituloPantalla h1 {
    color: white;
    padding: 10px;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.panel .results {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.panel .results .leyenda{
    display: flex;
    flex-direction: column;
}

.panel .results .leyenda span{
    margin: 5px;
}

.panel .results .cifra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel .results .cifra span{
    margin: 5px;
}

.panel .notificaciones{
    width: 50%;
}

.panel .cifra #resultado {
    color: white;
    background-color: rgb(22, 187, 220) ;
    padding: 8px;
    border-radius: 30px;
}

.panel .cifra #contactados {
    color: white;
    background-color: grey ;
    padding: 8px;
    border-radius: 30px;
}

.panel .cifra #negociacion {
    color: white;
    background-color: orange ;
    padding: 8px;
    border-radius: 30px;
}

.panel .cifra #cierres {
    color: white;
    background-color: green ;
    padding: 8px;
    border-radius: 30px;
}



#eliminar-fila{
    padding: 10px;
    margin: 10px;
    background-image: url(../img/positivenation4.png);
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
    color: white;
}

#logout {
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid grey;
}

.tools{
    display: flex;
    align-items: center;
}

.tools .tool img{
    width: 40px;
}

.opciones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.opciones input[type=number]{
    width: 30px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .box-footer {
    background-image: url(../img/positivenation4.png);
    background-size: cover;
    background-position: center;
    width: 90vw;
    margin: auto;
    padding: 10px;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 50px;
}

footer .box-footer div a{
    color: white;
    text-decoration: none;
}

@media (max-width: 500px) {
    .panel{
        display: block;
    }

    .panel .results {
        width: 90%;
        margin: auto;
    }

    .panel .notificaciones {
        width: 90%;
        margin: auto;
    }

    footer .box-footer div .enlace{
        display: none;
    }

    footer .box-footer div i{
        font-size: 25px;
    }
}