body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.cerrado {
    background-color: green;
    color: white;
  }
  
  .descartado {
    background-color: red;
    color: white;
  }
  
  .en-negociacion {
    background-color: orange;
    color: white;
  }
  
  .contactado {
    background-color: grey;
    color: white;
  }